DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=db_name
PORT=3000

# Email configuration (Gmail)
MAIL_USER=votre-email@gmail.com
MAIL_PASS=votre-mot-de-passe-d-application

# Frontend URL
FRONTEND_URL=http://localhost:3000